<div class="container mt-4">
    <div class="row">
      <div class="col-md-6 offset-md-3 text-center">
        <h1 class="mb-4">Gerenciamento de Clientes</h1>
        <img src="../../assets/cliente.png" alt="Cliente" class="img-fluid">
        <div class="d-grid gap-2">
          <button 
            class="btn btn-success btn-lg" 
            [routerLink]="['/create-client']">
            Cadastrar Clientes
          </button>
          <button 
            class="btn btn-primary btn-lg" 
            [routerLink]="['/list-client']">
            Listar Clientes
          </button>
        </div>
      </div>
    </div>
  </div>